<mat-toolbar color="primary">
  <span class="toolbar-title">Autonomy</span>
  <span class="toolbar-spacer"></span>
</mat-toolbar>
<nav
  mat-tab-nav-bar
  color="primary"
>
  <a
    mat-tab-link
    routerLink="/home"
    class="home"
  >
    Home
  </a>
  <a
    mat-tab-link
    routerLink="/about"
    class="about"
  >
    About
  </a>
  <a
    mat-tab-link
    routerLink="/product"
    class="product"
  >
    Product
  </a>
  <a
    mat-tab-link
    routerLink="/contribute"
    class="contribute"
  >
    Contribute
  </a>
</nav>
<router-outlet></router-outlet>